@media (max-width: 1280px) {
    .team__item-3 {
        margin-left: 300px;
    }

    .adv__item {
        width: 400px;
        height: 350px;
        border-radius: 30px;
    }

    .adv__item-title {
        font-size: 16px;
        margin-bottom: 30px;
    }

    .adv__img {
        width: 300px;
    }

    .teamlead__img {
        width: 400px;
    }

    .teamlead__desc {
        font-size: 24px;
    }
}

@media (max-width: 1205px) {
    .header__contant {
        align-items: center;
        flex-wrap: wrap;
    }

    .header__menu {
        width: 100%;
        order: 3;
        margin-top: 50px;
    }

    .tour__page__header {
        flex-direction: column;
    }

    .tour__page__imgBox {
        height: 400px !important;
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }

    .tour__page__infoBlock {
        max-width: 100%;

    }

    .tour__page__title {
        text-align: center;
    }

    .tour__page__date {
        text-align: center;
    }

  
    .diary {
        margin-top: 20px;
    }
    .order__contant {
        flex-direction: column;
        padding-left: 0;
    }
    .tour__page__pricePart{
        text-align: center;
        padding: 10px;
    }
    .tour__page__btn{
        width: 100%;
        border-radius: 0 0 20px 20px;
        text-align: center;
        margin-top: 20px;
    }
 

    .big__table {
        display: none;
    }

    .lesson__table-imgBlock {
        position: relative;
        max-width: 450px;
        height: 200px;
        margin: 0 auto;
        margin-bottom: 15px;
    }

    .lesson__img-smart {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .lesson__img-text-smart {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        color: white;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        font-size: 28px;
    }

    .lesson__btn {
        width: 450px;
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .lesson__smart__table {
        display: block;
    }
    .order__contant {
        justify-content: center;
        align-items: center;
    }
}
@media (max-width: 1024px) { 
    .actual-tour__list {
        flex-direction: column;
    }

    .actual-tour__item {
        width: 100%;
        margin-bottom: 20px;
    }
}
@media (max-width: 968px) {
    .adv {
        background-image: none;
    }
    
    .about__title {
        width: 100%;
        text-align: center;
    }

    .adv__title {
        width: 100%;
        font-size: 32px;
        text-align: center;
    }

    .adv__list {
        width: 100%;
        justify-content: center;
    }

    .adv__item {
        width: 100%;
        box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    }

    .teamlead__img {
        width: 300px;
    }

    .adv__item-title {
        font-size: 24px;
        margin-bottom: 15px;
    }

    .adv__img {
        width: 300px;
    }

    .excursions__item {
        flex-direction: column;
        justify-content: flex-start;
        min-height: 560px;
        flex-wrap: nowrap;
        border-radius: 10px 10px 0 0;
    }

    .excursions__item:hover {
        box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    }

    .excursions__item-info {
        order: 1;
        width: 100%;
        height: 100%;
    }

    .long {
        height: auto;

    }

    .excursions__item-title {
        text-align: center;

    }

    .excursions__date {
        text-align: center;
    }

    .excursions__img-block {
        width: 100%;
        height: 300px;
        order: 0;
        border-radius: 10px 10px 0 0;
    }

    .exursions__podr {
        transform: translateY(0px);
        box-shadow: 0 10px 20px 1px rgb(114, 91, 177);
        border-bottom: none;

    }

    .openlesson__mainblock {
        position: relative;
        justify-content: center;
        text-align: center;

        background-image: url(../img/lesson/openlesson.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 10px;
    }

    .openlesson__mainblock:before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, .5);
        border-radius: 10px;
    }

    .openlesson__imgblock {
        display: none;
    }

    .openlesson__info {
        z-index: 1000;
        color: white;
        margin-right: 0;
        
    }

    .openlesson__btn {
        width: 100%;
        margin: 10px auto;
    }
    .openlesson__title {
        font-size: 26px;
    }
    .openlesson__item {
        color: white;
        margin-bottom: 10px;
    }
    .excursions__item.long .excursions__img-block {
        height: 300px;
        overflow: hidden;
    }
    .excursions__img-block {
        border-radius: 10px 10px 0 0 !important; 
    }
}

@media (max-width: 887px) {
    .header__logo img {
        width: 190px;
    }

    .header__menu {
        position: fixed;
        display: block;
        padding-left: 30px;
        padding-top: 40px;
        margin-top: 0;
        top: 0;
        left: 0;
        z-index: 1000;
        width: 100vw;
        background: white;
        height: 100vh;
        transform: translateX(-100%);
        transition: transform 0.5s ease-in-out;
    }

    .header__burger-open {
        transform: translateX(0);
    }

    .header__item {
        margin-bottom: 40px;
    }

    .header__burger-cross {
        display: block;
        position: absolute;
        right: 60px;
        margin-bottom: 0;
    }

    .header__contacts {
        display: none;
    }

    .header__burger {
        display: block;
    }

    .hero {
        background-image: url(../img/hero/HeroT.jpg);
    }

    .hero__title {
        margin-bottom: 45px;
        font-size: 48px;
        line-height: 112px;
    }

    .hero__desc {
        margin-bottom: 100px;
        text-align: center;
        font-weight: 400;
        font-size: 24px;
        line-height: 38px;
        color: white;
    }

    .teamlead__desc {
        font-size: 24px;
    }

    .questions__form {
        width: 100%;
    }

    .modal-form-sumit-text {

        font-size: 16px;

    }

    .tour__page__title {
        font-size: 48px;
    }

    .tour__page__date {
        font-size: 24px;
    }

    .tour__page__desc {
        margin-bottom: 10px;
    }

    .tour__page__rate {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .menu__list {
        flex-direction: column;
    }
    .menu__item {
        width: 100% !important;
    }
}

@media (max-width: 803px) {
    .container {
        padding: 0 20px;
    }
}

@media (max-width: 700px) {
    .otziv__list {
        flex-direction: column;
        align-items: center;
    }

    .team__list {
        flex-direction: column;
        align-items: center;
    }
    .partner__list {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 600px) {
    .container {
        padding: 0 10px;
    }
    .tour__page__btn {
        font-size: 16px;
        text-decoration: underline;
    }
    .hero {
        height: 450px;
    }

    .hero__title {
        font-size: 32px;
        margin-bottom: 20px;
    }

    .hero__desc {
        font-size: 16px;
        margin-bottom: 30px;
    }

    .about__story {
        font-size: 16px;
    }

    .adv__item-title {
        font-size: 16px;
    }

    .otziv__item {
        flex-direction: column;
        align-items: center;
    }
    .otziv__img-box {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .otziv__name  {
        text-align: center;
        margin-bottom: 20px;
    }
    .team__list {
        flex-direction: column;
        align-items: center;
    }
    .teamlead__img {
        max-width: 200px;
    }

    .contacts__title {
        font-size: 24px;
        font-weight: 700;
    }
    .teamlead__desc {
        font-size: 14px;
        line-height: 30px;
    }
    .contacts__item {
        font-size: 16px;
    }
    .actual-tour__title-block {
        font-size: 18px;
    }
    .tour__list {
        flex-direction: column;
    }

    .tour__item {
        width: 100%;
    }

    
    .tour__page__price {
        font-size: 26px;
        max-height: 100%;
    }
    .tour__page__pricePart {
        font-size: 10px;
    }
    .lesson__list {
        flex-direction: column;
    }

    .lesson__item {
        width: 100%;
        margin-bottom: 15px;
    }

    .modal-form-sumit-text {
        letter-spacing: 0;
        font-size: 14px;

        width: 87%;
    }

    .lesson__btn {
        width: 100%;
    }
    /* .grid-wrapper .small {
        grid-row: span 1;
        grid-column: span 2;
    } */
    .grid-wrapper div {
        grid-row: span 1 !important;
        grid-column: span 1 !important;
    }
    .coop__img {
        width: 200px;
    }
    .video__main {
        flex-direction: column;
    }
    .video__list {
        display: flex;
        width: 100%;
        height: max-content;
        overflow-x: auto;
        overflow-y: hidden;
        flex-direction: row;
        border: none;
        order: 1;
    }
    .video__item {
        margin-right: 30px;
        padding-top: 5px;
        padding-bottom: 20px;
        border-bottom: none;
    }
    .video__display {
        width: 100%;
        
        border: none;
        border-bottom: 1px solid black;
    }
    /* .partner__link {
        width: 300px;
    } */
}
  /* !important is needed sometimes */
  ::-webkit-scrollbar {
    width: 12px !important;
 }

 /* Track */
::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important;
   -webkit-border-radius: 10px !important;
   border-radius: 10px !important;
 }

 /* Handle */
 ::-webkit-scrollbar-thumb {
   -webkit-border-radius: 10px !important;
   border-radius: 10px !important;
   background: #41617D !important; 
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5) !important; 

 }
 ::-webkit-scrollbar-thumb:window-inactive {
   background: #41617D !important; 
 }