@media (max-width: 1655px) {
    
    .header__contant {
        align-items: center;
        flex-wrap: wrap;
    }
    .header__menu {
        width: 100%;
        order: 3;
        margin-top: 50px;
    }
  }