@font-face {
    font-family: 'Aguafina Script';
    src: url('AguafinaScript-Regular.eot');
    src: local('Aguafina Script Regular'), local('AguafinaScript-Regular'), url('../fonts/AguafinaScript-Regular.woff2') format('woff2'), url('../fonts/AguafinaScript-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: local("Roboto-Regular"), url("../fonts/Roboto.woff2") format("woff2"), url("../fonts/Roboto.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: local("Roboto-Bold"), url("../fonts/RobotoBold.woff2") format("woff2"), url("../fonts/RobotoBold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: local("Roboto-Light"), url("../fonts/RobotoLight.woff2") format("woff2"), url("../fonts/RobotoLight.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: local("Roboto-Medium"), url("../fonts/RobotoMedium.woff2") format("woff2"), url("../fonts/RobotoMedium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: local("Roboto-italic"), url("../fonts/Robotobolditalic.woff2") format("woff2"), url("../fonts/Robotobolditalic.woff") format("woff");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

body {
    font-family: "Roboto", "Aguafina Script", "Arial", sans-serif;
}

ul,
li,
a {
    text-decoration: none;
    list-style-type: none;
    color: black;
}

.header {
    background-color: white;
    top: 0;
    left: 0;
    padding: 20px 0;
    width: 100%;
    height: max-content;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}

.container {
    margin: 0 auto;
    box-sizing: content-box;
    max-width: 1770px;
    padding: 0 77px;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}


/*---------------------------------------------------------------------------------------header---*/

.header__logo img {
    width: 170px;
    /* height: 107px; */
}

.header__contant {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__menu {
    display: flex;
    width: 600px;
    justify-content: space-between;
}

.header__link {
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    color: #4F3156;
    border-bottom: 2px solid white;
    transition: all 0.3s ease-in-out;
    padding-bottom: 5px;
}

.header__link:hover {
    color: black;
    border-bottom: 2px solid black;
}

.header__contacts {
    max-width: 259px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header__number {
    font-family: 'Aguafina Script';
    font-weight: 400;
    font-size: 24px;
}

.header__soc-list {
    display: flex;
}

.header__soc-item:not(:last-child) {
    margin-right: 20px;
}

.header__soc-icon {
    width: 30px;
}

.header__burger {
    display: none;
}

.header__burger-cross {
    display: none;
}


/*----------------------------------------------------------------------------------------------*/


/*---------------------------------------------------------------------------------------Hero---*/

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    background-image: url(../img/hero/HeroT.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.hero__contant {
    padding: 0 10px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hero__title {
    text-align: center;
    margin-bottom: 45px;
    font-weight: 700;
    font-size: 70px;
    line-height: 112px;
    color: white;
}

.hero__desc {
    margin-bottom: 100px;
    text-align: center;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: white;
}

.hero__link {
    opacity: 1;
    margin: 0 auto;
    transition: opacity 0.2s ease-in-out;
}

.hero__link:hover {
    opacity: 0.5;
}


/*----------------------------------------------------------------------------------------------*/


/*---------------------------------------------------------------------------------------about---*/

.about {
    padding-top: 50px;
    /* background-position: center center; */
}

.about__title {
    width: 173px;
    margin-bottom: 30px;
    border-bottom: 3px solid #60326B;
    font-weight: 700;
    font-size: 32px;
    line-height: 56px;
    color: #60326B;
}

.about__story {
    margin-bottom: 63px;
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
}


/*----------------------------------------------------------------------------------------------*/


/*---------------------------------------------------------------------------------------adv---*/

.adv {
    background-image: url(../img/about/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.adv__title {
    width: 368px;
    margin-bottom: 30px;
    border-bottom: 2px solid #60326B;
    font-weight: 700;
    font-size: 32px;
    line-height: 56px;
    color: #60326B;
}

.adv__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.adv__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
    border-radius: 88px;
    width: 500px;
    height: 450px;
    background: rgba(255, 255, 255, 0.7);
}

.adv__item-title {
    margin-bottom: 40px;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 42px;
    color: #60326B;
}

.adv__img {
    width: 400px;
}


/*----------------------------------------------------------------------------------------------*/


/*---------------------------------------------------------------------------------------team---*/

.actual-tour {
    padding: 50px 0;
    background-color: white
}

.actual-tour__title {
    margin-bottom: 40px;
    text-align: center;
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    color: #824292;
}

.actual-tour__list {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-bottom: 20px;
}

.actual-tour__item {
    position: relative;
    display: flex;
    padding-bottom: 10px;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 300px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}

.actual-tour__imgBlock {
    width: 100%;
    height: 150px;
    margin-bottom: 7px;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
}

.actual-tour__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.actual-tour__title-block {
    font-size: 18px;
    color: #824292;
    margin-bottom: 7px;
    margin-top: 12px;
}

.actual-tour__date {
    margin-bottom: auto;
}
.actual-tour__btn::after {
    content: '';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;

}


/*----------------------------------------------------------------------------------------------*/


/*---------------------------------------------------------------------------------------team---*/

.teamlead {
    padding-bottom: 43px;
    padding-top: 43px;
}

.teamlead__title {
    margin: 0 auto;
    margin-bottom: 28px;
    text-align: center;
    padding-top: 30px;
    max-width: 1122px;
    border-top: 1px solid #60326B;
    font-size: 32px;
    color: #60326B;
}

.team__btn {
    color: #60326B;
}

.teamlead__img {
    display: block;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.teamlead__desc {
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 475px;
    font-size: 32px;
    font-weight: 400;
    line-height: 42px;
    text-align: center;
    color: #60326B;
}

.teamlead__btn {
    display: block;
    width: 200px;
    margin: 0 auto;
    padding: 5px;
    font-size: 16px;
    color: white;
    background: #60326B;
    border-radius: 10px;
    opacity: 1;
    transition: all 0.2s ease-in-out;
}

.teamlead__btn:hover {
    opacity: 0.7;
}


/*----------------------------------------------------------------------------------------------*/


/*---------------------------------------------------------------------------------------team---*/

.team {
    background: rgba(236, 229, 238, 0.6);
    padding: 50px 0;
}

.team__title {
    margin: 0 auto;
    margin-bottom: 40px;
    text-align: center;
    font-size: 32px;
    color: #60326B;
}

.team__desc {
    color: #60326B;
    margin-bottom: 10px;
}

.team__title-member {
    color: #60326B;
    margin-bottom: 7px;
}

.team__img {
    margin-bottom: 10px;
    width: 300px;
    height: 300px;
}

.team__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.team__item {
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.team__btn {
    width: max-content;
    align-items: center;
    display: flex;
}

.modal-content {
    padding: 30px;
}

.modal-tour {  
    max-width: 800px;
}

.modal-img-box {
    margin: 0 auto;
    width: 100%;
}

.modal-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.modal-tour-date {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    font-style: normal;
    font-family: "Roboto";
}

.modal-tour-story {
    margin-bottom: 10px;
    text-align: justify;
}

.modal-tour-list {
    margin-bottom: 20px;
}

.modal-tour-title {
    margin-bottom: 20px;
}

/* .modal-tour-item {
    margin-bottom: 20px;
} */



.modal-tour-desc {
    text-align: justify;
}

.team__modal-img {
    display: block;
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

.modal-body {
    text-align: center;
}

.modal-tour-desc {
    text-align: justify;
    margin-bottom: 10px;

}

.modal-active-list {
    padding: 10px 0;
    padding-left: 15px;
    text-align: justify;
}

.modal-active-item {
    list-style-type: decimal;
    margin-bottom: 5px;
}

.modal-zapis-btn {
    margin-right: 10px;
    width: 150px;
    height: 38px;
    display: block;
    font-size: 1rem;
    color: white;
    background: #60326B;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.modal-zapis-btn:hover {
    color: #fff;
    background-color: #48344E;
    border-color: #48344E;
}


/*----------------------------------------------------------------------------------------------*/


/*---------------------------------------------------------------------------------------quest--*/

.questions {
    padding: 50px 0;
    background-color: #48344E;
}

.questions__title {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 10px;
    width: 70%;
    border-bottom: 1px solid #824292;
    color: white;
    font-weight: 400;
    font-size: 32px;
    line-height: 49px;
    margin-bottom: 40px;
}

.questions__form {
    margin: 0 auto;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.questions__form input {
    margin: 0 auto;
    height: 50px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 15px;
    border: none;
    padding: 10px;
}

.questions__input-text {
    height: 200px !important;
}

.questions__btn {
    margin-right: 0px !important;
    width: 200px !important;
    background-color: #824292;
    color: white;
    transition: opacity 0.2s ease-in-out;
}

.questions__btn:hover {
    opacity: 0.5;
}


/*----------------------------------------------------------------------------------------------*/


/*---------------------------------------------------------------------------------------contacts--*/

.contacts {
    padding: 30px 0;
}

.contacts__title {
    width: 300px;
    font-size: 32px;
    font-weight: 700;
    border-bottom: 2px solid #60326B;
    margin-bottom: 30px;
}

.contacts__item {
    font-weight: 700;
    font-size: 24px;
    line-height: 49px;
    font-style: italic;
}

.contact__t-link {
    text-decoration: underline;
}

footer {
    height: 60px;
    background-color: #4F3156;
}

.lesson {
    background: rgba(236, 229, 238, 0.6);
    padding: 15px 0;
}

.lesson__title {
    font-size: 32px;
    text-align: center;
    margin-bottom: 32px;
}

.lesson__desc {
    font-size: 24px;
    padding-left: 30px;
}

.lesson__title {
    font-size: 32px;
    text-align: center;
    margin: 20px 0;
    margin-bottom: 40px;
}

.lesson__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.lesson__item {
    width: 48%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}

.lesson__img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.lesson__img-box {
    border-radius: 20px 20px 0 0;
    overflow: hidden;
}

.lesson__btn {
    width: 200px;
    display: block;
    margin: 30px auto;
    margin-top: 50px;
    padding: 5px;
    font-size: 24px;
    color: white;
    background: #60326B;
    border-radius: 10px;
}

.solo {
    padding: 30px 0;
}

.lesson__solo {
    display: flex;
    justify-content: space-between;
}

.lesson__solo-left {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.lesson__solo-right {
    width: 55%;
}

.lesson__solo-title {
    margin: 20px 0;
    font-size: 32px;
}

.lesson__solo-desc {
    margin-top: 20px;
    font-size: 16px;
}

.lesson__solo-right-img {
    width: 100%;
    height: 450px;
    object-fit: contain;
}

.lesson__solo-how {
    font-size: 24px;
    font-style: italic;
    margin-top: 40px;
    margin-bottom: 50px;
}

.lesson__solo-btn {
    width: 200px;
    display: block;
    margin-top: 50px;
    padding: 5px;
    font-size: 24px;
    color: white;
    background: #60326B;
    border-radius: 10px;
}


/*----------------------------------------------------------------------------------------------*/


/*---------------------------------------------------------------------------------------Tour--*/

.tour {
    padding: 20px 0;
}

.tour__title {
    font-size: 32px;
    text-align: center;
    margin-bottom: 32px;
    color: #824292;
}

.tour__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tour__item {
    position: relative;
    width: 40%;
    color: #4F3156;
    margin-bottom: 50px;
    padding-bottom: 10px;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}

.tour__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.tour__img-box {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
}

.tour__item-title {
    max-width: 350px;
    font-size: 22px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 10px;
    color: #4F3156;
    border-bottom: 1px solid #4F3156;
}

.tour__date {
    font-size: 18px;
    padding-left: 30px;
    margin-bottom: 20px;
    color: #4F3156;
}

.tour__btn {
    
    padding-left: 30px;
    color: #4F3156;
}

.tour__btn:before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}