@font-face {
    font-family: 'Aguafina Script';
    src: url('AguafinaScript-Regular.eot');
    src: local('Aguafina Script Regular'), local('AguafinaScript-Regular'), url('/fonts/AguafinaScript-Regular.woff2') format('woff2'), url('/fonts/AguafinaScript-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: local("Roboto-Regular"), url("/fonts/Roboto.woff2") format("woff2"), url("/fonts/Roboto.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: local("Roboto-Bold"), url("/fonts/RobotoBold.woff2") format("woff2"), url("/fonts/RobotoBold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: local("Roboto-Light"), url("/fonts/RobotoLight.woff2") format("woff2"), url("/fonts/RobotoLight.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: local("Roboto-Medium"), url("/fonts/RobotoMedium.woff2") format("woff2"), url("/fonts/RobotoMedium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: local("Roboto-italic"), url("/fonts/Robotobolditalic.woff2") format("woff2"), url("/fonts/Robotobolditalic.woff") format("woff");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

body {
    font-family: "Roboto", sans-serif;

}

ul,
li,
a {
    text-decoration: none;
    list-style-type: none;
    color: black;
}

.body__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 98vh;
}

.header {
    background-color: white;

    padding: 20px 0;
    width: 100%;
    height: max-content;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}

.container {
    margin: 0 auto;
    box-sizing: content-box;
    max-width: 1500px;
    padding: 0 77px;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}


/*---------------------------------------------------------------------------------------header---*/

.header__logo img {
    width: 240px;
    /* height: 107px; */
}

.header__contant {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__menu {
    display: flex;
    width: 600px;
    justify-content: space-between;
}

.header__link {
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    color: #4F3156;
    border-bottom: 2px solid white;
    transition: all 0.3s ease-in-out;
    padding-bottom: 5px;
}

.header__link:hover {
    color: black;
    border-bottom: 2px solid black;
}

.header__contacts {
    max-width: 259px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header__number {
    margin-bottom: 10px;

    font-size: 24px;
    font-style: italic;
}

.header__soc-list {
    display: flex;
}

.header__soc-item:not(:last-child) {
    margin-right: 20px;
}

.header__soc-icon {
    width: 30px;

}

.header__burger {
    display: none;
}

.header__burger-cross {
    display: none;
}

.disable {
    color: gray;
    cursor: default;
    border-bottom: none;
}

.disable:hover {
    color: gray;
    border-bottom: none;
}

/*----------------------------------------------------------------------------------------------*/


/*---------------------------------------------------------------------------------------Hero---*/

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    background-image: url(../img/hero/HeroT.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.hero__contant {
    padding: 0 10px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hero__title {
    text-align: center;
    margin-bottom: 45px;
    font-weight: 700;
    font-size: 70px;
    line-height: 112px;
    color: white;
}

.hero__desc {
    margin-bottom: 100px;
    text-align: center;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: white;
}

.hero__link {
    opacity: 1;
    margin: 0 auto;
    transition: opacity 0.2s ease-in-out;
}

.hero__link:hover {
    opacity: 0.5;
}


/*----------------------------------------------------------------------------------------------*/


/*---------------------------------------------------------------------------------------about---*/

.about {
    padding-top: 50px;
    /* background-position: center center; */
}

.about__title {
    width: 173px;
    margin-bottom: 30px;
    border-bottom: 3px solid #60326B;
    font-weight: 700;
    font-size: 32px;
    line-height: 56px;
    color: #60326B;
}

.about__story {
    margin-bottom: 63px;
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
}


/*----------------------------------------------------------------------------------------------*/


/*---------------------------------------------------------------------------------------adv---*/

.adv {
    background-image: url(../img/about/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.adv__title {
    width: 368px;
    margin-bottom: 30px;
    border-bottom: 2px solid #60326B;
    font-weight: 700;
    font-size: 32px;
    line-height: 56px;
    color: #60326B;
}

.adv__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.adv__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
    border-radius: 88px;
    width: 28%;
    height: 220px;
    background: rgba(255, 255, 255, 0.7);
}

.adv__item-title {
    margin-bottom: 0px;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 42px;
    color: #60326B;
}

.adv__img {
    width: 200px;
}


/*----------------------------------------------------------------------------------------------*/


/*---------------------------------------------------------------------------------------team---*/

.actual-tour {
    padding: 50px 0;
    background-color: white
}

.actual-tour__title {
    margin-bottom: 40px;
    text-align: center;
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    color: #824292;
}

.actual-tour__list {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-bottom: 20px;
}

.actual-tour__item {
    position: relative;
    display: flex;
    padding-bottom: 10px;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 300px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}

.actual-tour__imgBlock {
    width: 100%;
    height: 150px;
    margin-bottom: 7px;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
}

.actual-tour__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.actual-tour__title-block {
    font-size: 18px;
    color: #824292;
    margin-bottom: 7px;
    margin-top: 12px;
}

.actual-tour__date {
    margin-bottom: auto;
}

.actual-tour__btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.actual-tour__btn:hover {
    color: black
}


/*----------------------------------------------------------------------------------------------*/


/*---------------------------------------------------------------------------------------team---*/

.teamlead {
    padding-bottom: 43px;
    padding-top: 43px;
}

.teamlead__title {
    margin: 0 auto;
    margin-bottom: 28px;
    text-align: center;
    padding-top: 30px;
    max-width: 1122px;
    border-top: 1px solid #60326B;
    font-size: 32px;
    color: #60326B;
}


.teamlead__img {
    display: block;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.teamlead__desc {
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 475px;
    font-size: 24px;
    font-weight: 400;
    line-height: 42px;
    text-align: center;
    color: #60326B;
}

.teamlead__btn {
    display: block;
    width: 200px;
    margin: 0 auto;
    padding: 5px;
    font-size: 16px;
    color: white;
    background: #60326B;
    border-radius: 10px;
    opacity: 1;
    transition: all 0.2s ease-in-out;
}

.teamlead__btn:hover {
    opacity: 0.7;
}


/*----------------------------------------------------------------------------------------------*/


/*---------------------------------------------------------------------------------------team---*/

.team {
    background: rgba(236, 229, 238, 0.6);
    padding: 50px 0;
}

.team__title {
    margin: 0 auto;
    margin-bottom: 40px;
    text-align: center;
    font-size: 32px;
    color: #60326B;
}

.team__desc {
    color: #60326B;
    margin-bottom: 10px;
}

.team__title-member {
    color: #60326B;
    margin-bottom: 7px;
}

.team__img {
    margin-bottom: 10px;
    width: 300px;
    height: 300px;
}

.team__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.team__item {
    position: relative;
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.team__btn {
    width: max-content;
    align-items: center;
    display: flex;
    color: #60326B;
}

.team__btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.otziv {
    padding: 50px 0;
    padding-bottom: 0;

}

.otziv__title {
    margin: 0 auto;
    margin-bottom: 40px;
    font-size: 32px;
    max-width: 600px;

    text-align: center;
    color: #4F3156;
    border-bottom: 3px solid #60326B;
}


.otziv__list {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
    margin-bottom: 50px;

}

.otziv__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 20px 15px;
    border-radius: 10px;
    width: 300px;
    height: 550px;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}

.otziv__img-box {
    width: 150px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.otziv__img {
    width: 100%;
    object-fit: cover;
}

.otziv__name {
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 24px;
    text-align: center;
    color: #4F3156;

}

.otiziv__desc {
    border-bottom: 1px solid #4F3156;
    border-top: 1px solid #4F3156;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* outline: auto; */
    height: 100%;
    font-size: 14px;
    text-align: center;
}




.modal-content {
    padding: 30px;
}

.modal-tour {
    max-width: 800px;
}

.modal-img-box {
    margin: 0 auto;
    width: 100%;
}

.modal-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.modal-tour-date {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    font-style: normal;
    font-family: "Roboto";
}

.modal-tour-story {
    margin-bottom: 10px;
    text-align: justify;
}

.modal-tour-list {
    margin-bottom: 20px;
}

.modal-tour-title {
    margin-bottom: 20px;
}

/* .modal-tour-item {
    margin-bottom: 20px;
} */



.modal-tour-desc {
    text-align: justify;
}

.team__modal-img {
    display: block;
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

.modal-body {
    text-align: center;
    padding: 0 1rem 0 1rem;
}

.modal-tour-desc {
    text-align: justify;
    margin-bottom: 10px;

}

.modal-dialog {
    max-width: 800px;
}

.modal-active-list {
    padding: 10px 0;
    padding-left: 15px;
    text-align: justify;
}

.modal-active-item {
    list-style-type: disc;
    margin-bottom: 10px;
}

.modal-zapis-btn {
    margin-right: 10px;
    width: 150px;
    height: 38px;
    display: block;
    font-size: 1rem;
    color: white;
    background: #60326B;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.modal-zapis-btn:hover {
    color: #fff;
    background-color: #48344E;
    border-color: #48344E;
}

.modal-form-title {
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
}

.modal__form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.modal__form input {
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    padding: 10px;
    display: block;
    margin-top: 5px;
    margin-bottom: 25px;
}

.modal__form input:focus {
    outline: 0;

}

.modal-desc {
    text-align: justify;
}



.modal-form-sumit input {
    margin-bottom: 0;
}

.modal-form-btn {
    width: 100%;
    align-items: center;
    color: white;
    background-color: #60326B;
    margin-bottom: 5px !important;
}

.modal-body {
    overflow-y: hidden;
}

.modal-form-submit {
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.modal-form-item {
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.modal-form-item:not(:last-child) {
    margin-bottom: 20px;
}

.modal-form-sumit-text {

    font-size: 18px;
    letter-spacing: 1.2px;

}

.modal-form-checkbox {
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    margin-bottom: 0 !important;

}

.modal-form-dogovor {
    color: darkorchid;
    border-bottom: 1px solid blueviolet;
}

/*----------------------------------------------------------------------------------------------*/


/*---------------------------------------------------------------------------------------quest--*/

.questions {
    padding: 50px 0;
    background-color: #48344E;
}

.questions__title {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 10px;
    width: 70%;
    border-bottom: 1px solid #824292;
    color: white;
    font-weight: 400;
    font-size: 32px;
    line-height: 49px;
    margin-bottom: 40px;
}

.questions__form {
    margin: 0 auto;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.questions__form input {
    margin: 0 auto;
    height: 50px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 15px;
    border: none;
    padding: 10px;
}

.questions__input-text {
    height: 200px !important;
}

.questions__btn {
    margin-right: 0px !important;
    width: 200px !important;
    background-color: #824292;
    color: white;
    transition: opacity 0.2s ease-in-out;
}

.questions__btn:hover {
    opacity: 0.5;
}


/*----------------------------------------------------------------------------------------------*/


/*---------------------------------------------------------------------------------------contacts--*/

.contacts {
    padding: 30px 0;
}

.contacts__title {
    width: 300px;
    font-size: 32px;
    font-weight: 700;
    border-bottom: 2px solid #60326B;
    margin-bottom: 30px;
}

.contacts__item {
    font-weight: 700;
    font-size: 24px;
    line-height: 49px;
    font-style: italic;
}

.contact__t-link {
    text-decoration: underline;
}

footer {
    height: 60px;
    background-color: #4F3156;
}

table * {
    box-sizing: border-box;
}

.lesson {
    background: rgba(236, 229, 238, 0.6);
    padding: 15px 0;
}

.lesson__title {
    font-size: 32px;
    text-align: center;
    margin-bottom: 32px;
}

.lesson__desc {
    font-size: 24px;
    padding-left: 30px;
}

.lesson__title {
    font-size: 32px;
    text-align: center;
    margin: 20px 0;
    margin-bottom: 40px;
}

.lesson__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.lesson__item {
    width: 48%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}

.lesson__img {
    width: 100%;
    height: 90px;
    margin-top: 5px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.td__img {
    width: 200px;
    height: 100px;
    position: relative;
}

.td__btn {
    width: 200px;
    padding-right: auto;

}

.lesson__table {
    border-spacing: 100px;
}

.lesson__table th,
.lesson__table td {
    text-align: center;
    vertical-align: middle;

}

.td-item {
    width: 110px;
}
.td-link {
    text-decoration: underline;
}
.lesson__table tr {
    margin-bottom: 10px;
    padding-bottom: 20px;

}

.lesson__img-box {
    border-radius: 20px 20px 0 0;
    overflow: hidden;
}

.lesson__img-text {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    width: 100%;
    height: 90px;
    margin-top: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 20px;
}

.lesson__btn {
    width: 150px;
    padding: 7px;
    margin-left: 35px;
    font-size: 20px;
    color: white;
    background: #60326B;
    border-radius: 10px;
    text-align: center;
}

.solo {
    padding: 30px 0;
}

.lesson__solo {
    display: flex;
    justify-content: space-between;
}

.lesson__solo-left {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.lesson__solo-right {
    width: 55%;
}

.lesson__solo-title {
    margin: 20px 0;
    font-size: 32px;
}

.lesson__solo-desc {
    margin-top: 20px;
    font-size: 16px;
}

.lesson__solo-right-img {
    width: 100%;
    height: 450px;
    object-fit: contain;
}

.lesson__solo-how {
    font-size: 24px;
    font-style: italic;
    margin-top: 40px;
    margin-bottom: 50px;
}

.lesson__solo-btn {
    width: 200px;
    display: block;
    margin-top: 50px;
    padding: 5px;
    font-size: 24px;
    color: white;
    background: #60326B;
    border-radius: 10px;
}

.lesson__abik-img-box {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-top: 15px;

    margin-bottom: 20px;
}

.lesson__abik-img {
    width: 100%;
    height: 100%;
}

.lesson__smart__table {
    display: none;
}

.lesson__abik {
    margin-bottom: 50px;
}

.lesson__table-title {
    width: max-content;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 32px;
    color: #60326B;
}

.lesson__abik-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.lesson__abik-item {
    width: 300px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}

.lesson__group-desc {
    margin: 0 auto;
    text-align: center;
    width: 600px;
    margin-bottom: 20px;
}

.lesson__group-how {
    width: max-content;
    font-weight: 600;
    font-size: 28px;
    margin: 0 auto;
}

.lesson__abik-title-item {
    font-size: 24px;
    text-align: center;
}

.lesson__abik-link {
    display: block;
    width: 200px;
    text-align: center;
    background-color: #60326B;
    padding: 6px;
    color: white;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.lesson__abik-title-price {
    font-size: 32px;
    text-align: center;
    margin-bottom: 10px;
}

.lesson__abik-title-srok {
    text-align: center;
}

/*----------------------------------------------------------------------------------------------*/


/*---------------------------------------------------------------------------------------Tour--*/

.tour {
    padding: 20px 0;
}

.tour__title {
    font-size: 32px;
    text-align: center;
    margin-bottom: 32px;
    color: #824292;
}

.tour__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tour__item {
    position: relative;
    width: 48%;
    color: #4F3156;
    margin-bottom: 50px;
    padding-bottom: 10px;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    transition: all 0.2s ease-in-out;
}

.tour__item:hover {
    box-shadow: 0 0 10px 5px #824292;
}

.tour__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.tour__img-box {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
}

.tour__item-title {
    max-width: 350px;
    font-size: 22px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 10px;
    color: #4F3156;
    border-bottom: 1px solid #4F3156;
}

.tour__date {
    font-size: 18px;
    padding-left: 30px;
    margin-bottom: 20px;
    color: #4F3156;
}

.tour__link {

    padding-left: 30px;
    color: #4F3156;
}

.tour__link:hover {


    color: #4F3156;
}

.tour__link:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.feedback {
    padding: 50px 0;
    padding-top: 0;
}

.feedback__input-contact {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 10px;
    justify-content: space-between;

}

.feedback__input-contact input {
    width: 48%;
    height: 50px;
    border-radius: 20px;
    padding-left: 12px;
    background-color: #fff;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    border: none;
    margin-bottom: 10px;
    color: #4F3156;
}

.feedback__input-contact input:focus {
    outline: none;
    border: none;
}

.feedback__title {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
    max-width: 500px;
    border-bottom: 3px solid #60326B;
    padding-bottom: 6px;
}

.feedback__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto;
}

.input__name {
    width: 48%;
    padding-left: 10px;
    margin-bottom: 7px;
    font-size: 20px;
    font-weight: 600;
    color: #4F3156;
}

.feedback__input-text {
    width: 100%;
    border-radius: 20px;
    height: 200px;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    border: none;
    padding-left: 12px;
    margin-bottom: 10px;
}

.feedback__input-text:focus {
    outline: none;
    border: none;
}

.input_foto {
    border-radius: 20px;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    border: none;
}

.input__name-foto {


    font-size: 20px;
    font-weight: 600;
    color: #4F3156;
}

.field__wrapper {
    width: 100%;
    position: relative;
    margin: 0 0 10px 0;
    text-align: center;
    cursor: pointer;
}

.field__file {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.field__file-wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.field__file-fake {
    height: 40px;
    width: calc(100% - 130px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 15px;
    border: 1px solid #c7c7c7;
    border-radius: 3px 0 0 3px;
    border-right: none;
}

.field__file-button {
    width: 130px;
    height: 40px;
    background: #60326B;
    color: #fff;
    font-size: 1.125rem;
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
}




/* Страница тура */
.tour__page__header {
    display: flex;

    justify-content: space-between;
}

.tour__page__title {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 0;
    font-size: 64px;
    color: #60326B;
    flex-basis: 1;
    margin-bottom: 1px;
    height: max-content;
}

.tour__page__date {
    margin-bottom: 20px;
    color: #60326B;
    text-align: center;
    margin-bottom: 60px;
}

.tour__page__imgBox {
    max-width: 854px;
    border-radius: 10px;
    overflow: hidden;

    margin-right: 10px;
}

.tour__page__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tour__page__infoBlock {
    max-width: 630px;
    display: flex;
    flex-direction: column;
}

.tour__page__rate {

    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 20px;
}

.tour__page__desc {
    font-size: 18px;
    color: #60326B;

    text-align: justify;
}

.tour__page__desc::first-letter {
    font-size: 42px;
    color: #60326B;
    font-family: Monotype Corsiva;
    line-height: 0;
    text-align: justify;
}

.tour__page__rateTitle {
    color: #60326B;

}

.tour__page__price {
    font-size: 32px;
    color: #60326B;
    margin-bottom: auto;
    font-weight: bold;
    font-style: normal;
    font-family: "Roboto";
}

.tour__page__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    align-items: center;
    color: white;
    background-color: #60326B;
    height: 50px;
    border-radius: 20px;
    font-size: 24px;
}

.tour__page__pricePart {
    margin-bottom: 30px;
    font-size: 12px;
    text-align: justify;
}

.tour__page__priceIn {
    color: #42c454;
    margin-bottom: 5px;
}

.tour__page__priceOff {
    color: #c44f42;
}

.diary-title {
    display: flex;
    margin-bottom: 20px;
    font-size: 36px;
    justify-content: center;
    align-items: center;
    background-color: #D4C1CF;
    height: 65px;
    color: #4F3156;
    border-radius: 5px;
}

.modal-imgBlock {
    display: flex;
    justify-content: space-between;
}

.modal-img {
    width: 30%;
}

.gid {
    background-color: rgba(236, 229, 238, 0.6);
    margin-bottom: 20px;
}

.gid__title {
    text-align: center;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 48px;
    line-height: 112px;
    color: #48344E;

}

.gid__list {
    justify-content: center;
}




.minimized {

    cursor: pointer;
    border: 1px solid #FFF;
}

.minimized:hover {
    border: 1px solid yellow;
}

/* увеличенная картинка */
#magnify {
    display: none;
    /* position: absolute; upd: 24.10.2016 */
    position: fixed;

    max-width: 1200px;
    height: auto;
    z-index: 9999;
}

#magnify img {
    width: 100%;
}

/* затемняющий фон */
#overlay {
    display: none;
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    z-index: 9990;
}

/* кнопка закрытия */
#close-popup {
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid #AFAFAF;
    border-radius: 15px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 18px;
}

#close-popup i {
    width: 30px;
    height: 30px;
    background: url(https://codernote.ru/files/cross.png) no-repeat center center;
    background-size: 16px 16px;
    display: block;
}

@keyframes rota {
    25% {
        transform: rotate(360deg);
    }
}

#close-popup:hover {
    animation: rota 4s infinite normal;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.mod {
    position: fixed;
    /* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    /* цвет фона */
    z-index: 1050;
    opacity: 0;
    /* по умолчанию модальное окно прозрачно */
    -webkit-transition: opacity 200ms ease-in;
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in;
    /* анимация перехода */
    pointer-events: none;
    /* элемент невидим для событий мыши */
    margin: 0;
    padding: 0;
}

body.mod:target {
    overflow-y: hidden;
}

/* при отображении модального окно */
.mod:target {
    opacity: 1;
    /* делаем окно видимым */
    pointer-events: auto;

    /* элемент видим для событий мыши */
    overflow-y: auto;
    /* добавляем прокрутку по y, когда элемент не помещается на страницу */
}

/* ширина модального окна и его отступы от экрана */
.modal-d {
    position: relative;
    width: auto;
    margin: 10px;
}

@media (min-width: 576px) {
    .modal-d {
        max-width: 700px;
        margin: 30px auto;
        /* для отображения модального окна по центру */
    }
}

/* свойства для блока, содержащего контент модального окна */
.modal-c {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
}

@media (min-width: 768px) {
    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    }
}

/* свойства для заголовка модального окна */
.modal-h {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #eceeef;
}

.modal-t {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.25rem;
    font-weight: 500;
}

/* свойства для кнопки "Закрыть" */
.close {
    float: right;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    text-decoration: none;
}

/* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
.close:focus, .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .75;
}

/* свойства для блока, содержащего основное содержимое окна */
.modal-b {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 15px;
    overflow: auto;
}


.excursions {
    padding: 50px 0;
    padding-top: 20px;
}

.excursions__title {
    text-align: center;
}



.excursions__item {
    display: flex;
    margin-bottom: 80px;
    cursor: pointer;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 340px;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    border-radius: 10px;
    transition: all 0.7s ease;
    background-color: white;
    border-bottom: 1px solid white;
}
.long {
    height: auto;
    
    border-bottom: none;
}


.excursions__item:hover {
    box-shadow: 0 -10px 10px 5px rgba(221, 221, 221, 1);
    border-radius: 10px 10px 0 0;
   
}

.long:hover {
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    border-bottom: none;
    border-radius: 10px;
    /* border-radius: 0 0 10px 10px; */
}
.excursions__item:hover .exursions__podr {
    box-shadow: 0 10px 20px 1px rgb(114, 91, 177);
    border-bottom: none;
    transform: translateY(0);
}
.excursions__item:hover .excursions__img-block {
    border-radius: 0 10px 0 0;
}

.excursions__item.long .excursions__item-desc-hidden {
    display: flex;
    flex-direction: column;
}
.excursions__item.long .exursions__podr  {
    transform: translateY(-100px);
}
.excursions__item.long .excursions__item-desc {
    display: block;
    height: max-content;
}

.excursions__item.long .excursions__img-block {
    height: auto;
}

.exursions__podr {
    position: absolute;
    bottom: -27px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-decoration: underline;
    text-align: center;
    background-color: white;
    transition: all 0.4s ease;
    border-radius: 0 0 10px 10px;
    transform: translateY(-100px);
    z-index: -1000;
}
.long:hover .exursions__podr {
    box-shadow: none;
}
.excursions__item-desc-hidden {
    position: relative;
    display: none;
    height: 100%;
    text-align: justify;
}

.excursions__item-title {
    border-bottom: 3px solid #4F3156;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.excursions__date {
    font-weight: 600;
    border-bottom: 3px solid #4F3156;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.excursions__item-info {
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 55%;
    overflow: hidden;
}

.excursions__img-block {
    width: 40%;
    height: 100%;
    transition: height 1s ease;
    border-radius: 0 10px 10px 0;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
}


.excursions__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.excursions__item-desc {
    display: flex;
    align-items: center;
    font-size: 16px;

    text-align: justify;
    height: 100%;
}

.excursions__link {

    padding: 3px 10px;
    border-radius: 10px;
    font-weight: 400;
    font-size: 24px;
    cursor: pointer;
    background-color: #4F3156;
    color: white;
    text-align: center;
    width: 100%;
    height: max-content;
    z-index: 1000;

}

.excursions__price {
    font-size: 24px;
    margin-bottom: 30px;
}

.excursions__open {
    position: absolute;
    width: 100%;
    height: 40px;
    left: 0;
    bottom: -40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d4d4cf;
    z-index: -100;
    transform: rotate(0deg);
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    transition: all 2s ease-in-out;
}